<nav>
  <a class="button" routerLink="/home"
     routerLinkActive="activebutton"
     ariaCurrentWhenActive="page">
    home
  </a> |
  <a class="button" routerLink="/items"
     routerLinkActive="activebutton"
     ariaCurrentWhenActive="page">
    items
  </a>

  <a class="button" routerLink="/multi"
     routerLinkActive="activebutton"
     ariaCurrentWhenActive="page">
    multi
  </a>

  <a class="button" routerLink="/multi-combo"
     routerLinkActive="activebutton"
     ariaCurrentWhenActive="page">
    multi-combo
  </a>
</nav>

<router-outlet></router-outlet>
